<div class="about-me-wrapper">
  <mat-card>
    <mat-card-content>
      <div class="card-item main-heading">
        <div class="title">
          <span> <mat-icon>edit</mat-icon></span>
          <div class="heading">LITTLE ABOUT ME</div>
        </div>
      </div>
      <div class="about-me-content">
        <p>
          <span class="starting-letter">I</span>’am hard working and dedicated
          professional having 2 Years 8 Months of experience as front-end
          developer/user interface designer with a keen eye for detail, and a
          determination to deliver the very highest quality. I take great pride
          in my work, and I always try to better myself with every project I
          work on.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
